<div id="dvGyeonggongSearch">
		<ul>
			<li>
				<p id="pIlbansahang" data-switch="on"><img src="{{path}}/ilbansahang_over.png" alt="일반사항"/></p>
				<table id="tbIlbansahang">
					<tr>
						<th><img src="{{path}}/jiyeog.png" alt="지역"></th>
						<td id="tdJiyeog">
							<div class="check-custom-group">
							<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="seoul" class="styled" type="checkbox" value="11">
             					<label for="seoul">
                            	서울특별시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="busan" class="styled" type="checkbox" value="26">
             					<label for="busan">
                            	부산광역시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="daegu" class="styled" type="checkbox" value="27">
             					<label for="daegu">
                            	대구광역시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="incheon" class="styled" type="checkbox" value="28">
             					<label for="incheon">
                            	인천광역시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="gwangju" class="styled" type="checkbox" value="29">
             					<label for="gwangju">
                            	광주광역시
             					</label>
        					</div>
        					</div>
        					
        					<div class="check-custom-group">
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="daejeon" class="styled" type="checkbox" value="30">
             					<label for="daejeon">
                            	대전광역시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="ulsan" class="styled" type="checkbox" value="31">
             					<label for="ulsan">
                            	울산광역시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="sejong" class="styled" type="checkbox" value="36">
             					<label for="sejong">
                            	세종특별자치시
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="gyeonggido" class="styled" type="checkbox" value="41">
             					<label for="gyeonggido">
                            	경기도
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="gangwondo" class="styled" type="checkbox" value="42">
             					<label for="gangwondo">
                            	강원도
             					</label>
        					</div>
        					</div>
							
							<div class="check-custom-group">
							<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="chungcheongdoNorth" class="styled" type="checkbox" value="43">
             					<label for="chungcheongdoNorth">
                            	충청북도
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="chungcheongdoSouth" class="styled" type="checkbox" value="44">
             					<label for="chungcheongdoSouth">
                            	충청남도
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="jeonladoNorth" class="styled" type="checkbox" value="45">
             					<label for="jeonladoNorth">
                            	전라북도
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="jeonladoSouth" class="styled" type="checkbox" value="46">
             					<label for="jeonladoSouth">
                            	전라남도
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="gyeongsangdoNorth" class="styled" type="checkbox" value="47">
             					<label for="gyeongsangdoNorth">
                            	경상북도
             					</label>
        					</div>
							</div>
							
							<div class="check-custom-group">
							<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="gyeongsangdoSouth" class="styled" type="checkbox" value="48">
             					<label for="gyeongsangdoSouth">
                            	경상남도
             					</label>
        					</div>
        					<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="jejudo" class="styled" type="checkbox" value="50">
             					<label for="jejudo">
                            	제주특별자치도
             					</label>
        					</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/mulgeonkind.png" alt="물건종류"></th>
						<td id="tdMulgeonkind">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="mulgeonJugeo" class="styled" type="checkbox" value="">
             						<label for="mulgeonJugeo">
                            		주거용
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="mulgeonEobmu" class="styled" type="checkbox" value="">
             						<label for="mulgeonEobmu">
                            		업무 및 상업용
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="mulgeonToji" class="styled" type="checkbox" value="">
             						<label for="mulgeonToji">
                            		토지(농지,임야 등)
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="mulgeonToji" class="styled" type="checkbox" value="">
             						<label for="mulgeonToji">
                            		토지(농지,임야 등)
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="mulgeonGongjang" class="styled" type="checkbox" value="">
             						<label for="mulgeonGongjang">
                            		공장/창고
             						</label>
        						</div>
        					</div>
        						
        					<div class="check-custom-group">
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="mulgeonEtc" class="styled" type="checkbox" value="">
             						<label for="mulgeonEtc">
                            		기타(종교용지,구거 등)
             						</label>
        						</div>
        					</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/jimok.png" alt="지목"></th>
						<td id="tdJimok">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokJeon" class="styled" type="checkbox" value="">
             						<label for="jimokJeon">
                            		전
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokImya" class="styled" type="checkbox" value="">
             						<label for="jimokImya">
                            		임야
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokGongjang" class="styled" type="checkbox" value="">
             						<label for="jimokGongjang">
                            		공장
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokDoro" class="styled" type="checkbox" value="">
             						<label for="jimokDoro">
                            		도로
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokGugeo" class="styled" type="checkbox" value="">
             						<label for="jimokGugeo">
                            		구거
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokPark" class="styled" type="checkbox" value="">
             						<label for="jimokPark">
                            		공원
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokSajeogji" class="styled" type="checkbox" value="">
             						<label for="jimokSajeogji">
                            		사적지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokDab" class="styled" type="checkbox" value="">
             						<label for="jimokDab">
                            		답
             						</label>
        						</div>
							</div>
							
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokGwangcheonji" class="styled" type="checkbox" value="">
             						<label for="jimokGwangcheonji">
                            		광천지
             						</label>
        						</div>
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokSchool" class="styled" type="checkbox" value="">
             						<label for="jimokSchool">
                            		학교
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokCheoldo" class="styled" type="checkbox" value="">
             						<label for="jimokCheoldo">
                            		철도
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokYuji" class="styled" type="checkbox" value="">
             						<label for="jimokYuji">
                            		유지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokCheyugYongji" class="styled" type="checkbox" value="">
             						<label for="jimokCheyugYongji">
                            		체육용지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokMyoji" class="styled" type="checkbox" value="">
             						<label for="jimokMyoji">
                            		묘지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokGwasuwon" class="styled" type="checkbox" value="">
             						<label for="jimokGwasuwon">
                            		과수원
             						</label>
        						</div>
        					</div>
        					
        					<div class="check-custom-group">
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokYeomjeon" class="styled" type="checkbox" value="">
             						<label for="jimokYeomjeon">
                            		염전
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokJuchajang" class="styled" type="checkbox" value="">
             						<label for="jimokJuchajang">
                            		주차장
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokJebang" class="styled" type="checkbox" value="">
             						<label for="jimokJebang">
                            		제방
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokYangeojang" class="styled" type="checkbox" value="">
             						<label for="jimokYangeojang">
                            		양어장
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokYuwonji" class="styled" type="checkbox" value="">
             						<label for="jimokYuwonji">
                            		유원지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokJabjongji" class="styled" type="checkbox" value="">
             						<label for="jimokJabjongji">
                            		잡종지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokMogjang" class="styled" type="checkbox" value="">
             						<label for="jimokMogjang">
                            		목장
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokDae" class="styled" type="checkbox" value="">
             						<label for="jimokDae">
                            		대
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokJuyuso" class="styled" type="checkbox" value="">
             						<label for="jimokJuyuso">
                            		주유소
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokHacheon" class="styled" type="checkbox" value="">
             						<label for="jimokHacheon">
                            		하천
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokSudoYongji" class="styled" type="checkbox" value="">
             						<label for="jimokSudoYongji">
                            		수도용지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokJonggyoYongji" class="styled" type="checkbox" value="">
             						<label for="jimokJonggyoYongji">
                            		종교용지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="jimokChanggo" class="styled" type="checkbox" value="">
             						<label for="jimokChanggo">
                            		창고
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/jibunyeobu.png" alt="지분여부"></th>
						<td id="tdJibunyeobu">
							<div class="check-custom-group">
							<div class="checkbox checkbox-primary checkbox-inline">
             					<input id="jibunyeobu" class="styled" type="checkbox" value="">
             					<label for="jibunyeobu">
                            	지분물건 제외
             					</label>
        					</div>
        					</div>
						</td>
					</tr>
					<tr class="tr5">
						<th><img src="{{path}}/gamjeongga.png" alt="감정가"></th>
						<td id="tdGamjeongga">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga1m" class="styled" type="checkbox" value="">
             						<label for="gamjeongga1m">
                            		1천만원 미만
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga1To5" class="styled" type="checkbox" value="">
             						<label for="gamjeongga1To5">
                            		1천만원~5천만원
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga5To10" class="styled" type="checkbox" value="">
             						<label for="gamjeongga5To10">
                            		5천만원~1억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga10To30" class="styled" type="checkbox" value="">
             						<label for="gamjeongga10To30">
                            		1억~3억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga30To50" class="styled" type="checkbox" value="">
             						<label for="gamjeongga30To50">
                            		3억~5억
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga50To100" class="styled" type="checkbox" value="">
             						<label for="gamjeongga50To100">
                            		5억~10억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga100To200" class="styled" type="checkbox" value="">
             						<label for="gamjeongga100To200">
                            		10억~20억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gamjeongga200M" class="styled" type="checkbox" value="">
             						<label for="gamjeongga200M">
                            		20억원 이상
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/minibchalga.png" alt="최소입찰가"></th>
						<td id="tdMinIbchalga">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga1m" class="styled" type="checkbox" value="">
             						<label for="minibchalga1m">
                            		1천만원 미만
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga1To5" class="styled" type="checkbox" value="">
             						<label for="minibchalga1To5">
                            		1천만원~5천만원
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga5To10" class="styled" type="checkbox" value="">
             						<label for="minibchalga5To10">
                            		5천만원~1억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga10To30" class="styled" type="checkbox" value="">
             						<label for="minibchalga10To30">
                            		1억~3억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga30To50" class="styled" type="checkbox" value="">
             						<label for="minibchalga30To50">
                            		3억~5억
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga50To100" class="styled" type="checkbox" value="">
             						<label for="minibchalga50To100">
                            		5억~10억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga100To200" class="styled" type="checkbox" value="">
             						<label for="minibchalga100To200">
                            		10억~20억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalga200M" class="styled" type="checkbox" value="">
             						<label for="minibchalga200M">
                            		20억원 이상
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/gongsistandard.png" alt="공시지가기준가격"></th>
						<td id="tdGongsiStandard">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard1m" class="styled" type="checkbox" value="">
             						<label for="gongsistandard1m">
                            		1천만원 미만
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard1To5" class="styled" type="checkbox" value="">
             						<label for="gongsistandard1To5">
                            		1천만원~5천만원
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard5To10" class="styled" type="checkbox" value="">
             						<label for="gongsistandard5To10">
                            		5천만원~1억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard10To30" class="styled" type="checkbox" value="">
             						<label for="gongsistandard10To30">
                            		1억~3억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard30To50" class="styled" type="checkbox" value="">
             						<label for="gongsistandard30To50">
                            		3억~5억
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard50To100" class="styled" type="checkbox" value="">
             						<label for="gongsistandard50To100">
                            		5억~10억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard100To200" class="styled" type="checkbox" value="">
             						<label for="gongsistandard100To200">
                            		10억~20억
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gongsistandard200M" class="styled" type="checkbox" value="">
             						<label for="gongsistandard200M">
                            		20억원 이상
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/minibchalgaR.png" alt="최소입찰가율"></th>
						<td id="tdMinIbchalgaR">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalgaR100M" class="styled" type="checkbox" value="">
             						<label for="minibchalgaR100M">
                            		100% 이상
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalgaR75To100" class="styled" type="checkbox" value="">
             						<label for="minibchalgaR75To100">
                            		100~75%
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalgaR50To75" class="styled" type="checkbox" value="">
             						<label for="minibchalgaR50To75">
                            		75~50%
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalgaR25To50" class="styled" type="checkbox" value="">
             						<label for="minibchalgaR25To50">
                            		50~25%
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="minibchalgaR25m" class="styled" type="checkbox" value="">
             						<label for="minibchalgaR25m">
                            		25% 미만
             						</label>
        						</div>
							</div>
						</td>
					</tr>
				</table>
			</li>	
			<li>
				<p id="pLandUseLimit" data-switch="off"><img src="{{path}}/landuselimit.png" alt="토지이용규제조건"/></p>
				<table id="tbLandUseLimit">
					<tr>
						<th><img src="{{path}}/yongdojiyeog.png" alt="용도지역"></th>
						<td id="tdYongdoJiyeog">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogJugeo" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogJugeo">
                            		주거지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogSangeob" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogSangeob">
                            		상업지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogGongeob" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogGongeob">
                            		공업지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogNogji" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogNogji">
                            		녹지지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogGwanli" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogGwanli">
                            		관리지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogNonglim" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogNonglim">
                            		농림지역
             						</label>
        						</div>
        					</div>
        					<div class="check-custom-group">
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiyeogNatureBoho" class="styled" type="checkbox" value="">
             						<label for="yongdojiyeogNatureBoho">
                            		자연환경보전지역
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/yongdojigu.png" alt="용도지구"></th>
						<td id="tdYongdoJigu">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguGyeonggwan" class="styled" type="checkbox" value="">
             						<label for="yongdojiguGyeonggwan">
                            		경관지구
             						</label>
        						</div>
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguMigwan" class="styled" type="checkbox" value="">
             						<label for="yongdojiguMigwan">
                            		미관지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguGodo" class="styled" type="checkbox" value="">
             						<label for="yongdojiguGodo">
                            		고도지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguBanghwa" class="styled" type="checkbox" value="">
             						<label for="yongdojiguBanghwa">
                            		방화지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguBangjae" class="styled" type="checkbox" value="">
             						<label for="yongdojiguBangjae">
                            		방재지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguBojon" class="styled" type="checkbox" value="">
             						<label for="yongdojiguBojon">
                            		보존지구
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguSiseolBoho" class="styled" type="checkbox" value="">
             						<label for="yongdojiguSiseolBoho">
                            		시설보호지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguChwilag" class="styled" type="checkbox" value="">
             						<label for="yongdojiguChwilag">
                            		취락지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguGaebalJinheung" class="styled" type="checkbox" value="">
             						<label for="yongdojiguGaebalJinheung">
                            		개발진흥지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguSpecialLimit" class="styled" type="checkbox" value="">
             						<label for="yongdojiguSpecialLimit">
                            		특정용도제한지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguWilag" class="styled" type="checkbox" value="">
             						<label for="yongdojiguWilag">
                            		위락지구
             						</label>
        						</div>
        					</div>
        					<div class="check-custom-group">
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdojiguRemodeling" class="styled" type="checkbox" value="">
             						<label for="yongdojiguRemodeling">
                            		리모델링지구
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/yongdoguyeog.png" alt="용도구역"></th>
						<td id="tdYongdoGuyeog">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdoguyeogSigahwa" class="styled" type="checkbox" value="">
             						<label for="yongdoguyeogSigahwa">
                            		시가화조정구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdoguyeogGaebalLimit" class="styled" type="checkbox" value="">
             						<label for="yongdoguyeogGaebalLimit">
                            		개발제한구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdoguyeogCityNature" class="styled" type="checkbox" value="">
             						<label for="yongdoguyeogCityNature">
                            		도시자연공원구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdoguyeogSusanBoho" class="styled" type="checkbox" value="">
             						<label for="yongdoguyeogSusanBoho">
                            		수산자원보호구역
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdoguyeogMinIbji" class="styled" type="checkbox" value="">
             						<label for="yongdoguyeogMinIbji">
                            		입지규제최소구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="yongdoguyeogPlanByJigu" class="styled" type="checkbox" value="">
             						<label for="yongdoguyeogPlanByJigu">
                            		지구단위계획구역
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/etclawlimit.png" alt="기타법률상규제"></th>
						<td id="tdEtcLawLimit">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitBojeonSanji" class="styled" type="checkbox" value="">
             						<label for="etclawlimitBojeonSanji">
                            		보전산지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitJunBojeonSanji" class="styled" type="checkbox" value="">
             						<label for="etclawlimitJunBojeonSanji">
                            		준보전산지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitGongig" class="styled" type="checkbox" value="">
             						<label for="etclawlimitGongig">
                            		공익용산지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitImeob" class="styled" type="checkbox" value="">
             						<label for="etclawlimitImeob">
                            		임업용산지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitNongeobBoho" class="styled" type="checkbox" value="">
             						<label for="etclawlimitNongeobBoho">
                            		농업보호지역
             						</label>
        						</div>
        					</div>
        					<div class="check-custom-group">
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitNongeobJinheung" class="styled" type="checkbox" value="">
             						<label for="etclawlimitNongeobJinheung">
                            		농업진흥구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitSangsuBoho" class="styled" type="checkbox" value="">
             						<label for="etclawlimitSangsuBoho">
                            		상수원보호구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitJeobdo" class="styled" type="checkbox" value="">
             						<label for="etclawlimitJeobdo">
                            		접도구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitSujilBoho" class="styled" type="checkbox" value="">
             						<label for="etclawlimitSujilBoho">
                            		수질보전대책지역
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitBaechoolLimit" class="styled" type="checkbox" value="">
             						<label for="etclawlimitBaechoolLimit">
                            		배출시설설치제한지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitGongjangLimit" class="styled" type="checkbox" value="">
             						<label for="etclawlimitGongjangLimit">
                            		공장설립제한지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitBiotob" class="styled" type="checkbox" value="">
             						<label for="etclawlimitBiotob">
                            		비오톱
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitJaegaebal" class="styled" type="checkbox" value="">
             						<label for="etclawlimitJaegaebal">
                            		재개발구역
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitJeongbi" class="styled" type="checkbox" value="">
             						<label for="etclawlimitJeongbi">
                            		정비구역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitAcceptDevLimit" class="styled" type="checkbox" value="">
             						<label for="etclawlimitAcceptDevLimit">
                            		개발행위허가제한지역
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitNewtown" class="styled" type="checkbox" value="">
             						<label for="etclawlimitNewtown">
                            		뉴타운지구
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitLimitBoho" class="styled" type="checkbox" value="">
             						<label for="etclawlimitLimitBoho">
                            		제한보호구역
             						</label>
        						</div>
        					</div>
        					<div class="check-custom-group">
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etclawlimitMunhwajae" class="styled" type="checkbox" value="">
             						<label for="etclawlimitMunhwajae">
                            		문화재보존영향검토대상구역
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/etcchamgosahang.png" alt="기타참고사항"></th>
						<td id="tdEtcChamgosahang">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etcchamgosahangYeongnongNegative" class="styled" type="checkbox" value="">
             						<label for="etcchamgosahangYeongnongNegative">
                            		영농여건불리농지
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="etcchamgosahangAcceptTojiGeolae" class="styled" type="checkbox" value="">
             						<label for="etcchamgosahangAcceptTojiGeolae">
                            		토지거래허가구역
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/cityplanningfacility.png" alt="도시계획시설"></th>
						<td id="tdCPF">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfDoro" class="styled" type="checkbox" value="">
             						<label for="cpfDoro">
                            		도로
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfCheoldo" class="styled" type="checkbox" value="">
             						<label for="cpfCheoldo">
                            		철도
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfEtcGyotong" class="styled" type="checkbox" value="">
             						<label for="cpfEtcGyotong">
                            		기타교통
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfPark" class="styled" type="checkbox" value="">
             						<label for="cpfPark">
                            		공원
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfEtcSpace" class="styled" type="checkbox" value="">
             						<label for="cpfEtcSpace">
                            		기타공간시설
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfPublicSiseol" class="styled" type="checkbox" value="">
             						<label for="cpfPublicSiseol">
                            		공공문화체육시설
             						</label>
        						</div>
							</div>
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfBangjae" class="styled" type="checkbox" value="">
             						<label for="cpfBangjae">
                            		방재시설
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfBogeon" class="styled" type="checkbox" value="">
             						<label for="cpfBogeon">
                            		보건위생시설
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfYutong" class="styled" type="checkbox" value="">
             						<label for="cpfYutong">
                            		유통공급시설
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfEnvironBase" class="styled" type="checkbox" value="">
             						<label for="cpfEnvironBase">
                            		환경기초시설
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/cityplanningfacilityjeochog.png" alt="도시계획시설저촉상태"></th>
						<td id="tdCPFstate">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfStateJeonpil" class="styled" type="checkbox" value="">
             						<label for="cpfStateJeonpil">
                            		전필
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfStateJeonpil" class="styled" type="checkbox" value="">
             						<label for="cpfStateJeochog">
                            		저촉
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="cpfStateJeobham" class="styled" type="checkbox" value="">
             						<label for="cpfStateJeobham">
                            		접함
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/bosangpyeonib.png" alt="보상편입여부"></th>
						<td id="tdBosangPyeonib">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="bpBosang" class="styled" type="checkbox" value="">
             						<label for="bpBosang">
                            		보상
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="bpPyeonib" class="styled" type="checkbox" value="">
             						<label for="bpPyeonib">
                            		편입
             						</label>
        						</div>
							</div>
						</td>
					</tr>
				</table>
			</li>	
			<li>
				<p id="pHopefulTooja" data-switch="off"><img src="{{path}}/hopefultooja.png" alt="투자유망물건조건"/></p>
				<table id="tbHopefulTooja">
					<tr>
						<th><img src="{{path}}/hpgrade.png" alt="hp등급"></th>
						<td id="tdHpGrade">
							<div id="hopefulToojaHpGrade"></div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/gyeongsado.png" alt="경사도"></th>
						<td id="tbGyeongsado">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gyeongsado25m" class="styled" type="checkbox" value="">
             						<label for="gyeongsado25m">
                            		25도 미만
             						</label>
        						</div>
        						<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="gyeongsado25M" class="styled" type="checkbox" value="">
             						<label for="gyeongsado25M">
                            		25도 이상
             						</label>
        						</div>
							</div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/environmentpyeongga.png" alt="환경평가등급"></th>
						<td id="tdEnvironmentPyeongga">
							<div id="environmentPyeonggaGrade"></div>
						</td>
					</tr>
					<tr>
						<th><img src="{{path}}/landlimitunlock.png" alt="토지이용규제해소물건"></th>
						<td id="tdLandLimitUnlock">
							<div class="check-custom-group">
								<div class="checkbox checkbox-primary checkbox-inline">
             						<input id="landlimitunlockPilji" class="styled" type="checkbox" value="">
             						<label for="landlimitunlockPilji">
                            		토지이용규제 해소 필지
             						</label>
        						</div>	
							</div>
						</td>
					</tr>
				</table>
			</li>		
		</ul>
		
	</div>