<div id="dvGyeonggongSearch">
		<ul>
			<li>
				<p><img src="{{path}}/ilbansahang.png" alt="일반사항"/></p>
				<table id="tbIlbansahang">
					<tr class="tr1">
						<th><img src="{{path}}/jiyeog.png" alt="지역"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">서울특별시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">부산광역시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">대구광역시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">인천광역시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">광주광역시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">대전광역시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">울산광역시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">세종특별자치시</label>
							<input type="checkbox" name="" value="" id=""> <label for="">경기도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">강원도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">충청북도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">충청남도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">전라북도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">전라남도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">경상북도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">경상남도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">제주도</label>
						</td>
					</tr>
					<tr class="tr2">
						<th><img src="{{path}}/mulgeonkind.png" alt="물건종류"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">주거용</label>
							<input type="checkbox" name="" value="" id=""> <label for="">업무 및 상업용</label>
							<input type="checkbox" name="" value="" id=""> <label for="">토지(농지,임야 등)</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공장/창고</label>
							<input type="checkbox" name="" value="" id=""> <label for="">기타(종교용지,구거 등)</label>
						</td>
					</tr>
					<tr class="tr3">
						<th><img src="{{path}}/jimok.png" alt="지목"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">전</label>
							<input type="checkbox" name="" value="" id=""> <label for="">임야</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공장</label>
							<input type="checkbox" name="" value="" id=""> <label for="">도로</label>
							<input type="checkbox" name="" value="" id=""> <label for="">구거</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공원</label>
							<input type="checkbox" name="" value="" id=""> <label for="">사적지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">답</label>
							<input type="checkbox" name="" value="" id=""> <label for="">광천지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">학교</label>
							<input type="checkbox" name="" value="" id=""> <label for="">철도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">유지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">체육용지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">묘지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">과수원</label>
							<input type="checkbox" name="" value="" id=""> <label for="">염전</label>
							<input type="checkbox" name="" value="" id=""> <label for="">주차장</label>
							<input type="checkbox" name="" value="" id=""> <label for="">제방</label>
							<input type="checkbox" name="" value="" id=""> <label for="">양어장</label>
							<input type="checkbox" name="" value="" id=""> <label for="">유원지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">잡종지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">목장</label>
							<input type="checkbox" name="" value="" id=""> <label for="">대</label>
							<input type="checkbox" name="" value="" id=""> <label for="">주유소</label>
							<input type="checkbox" name="" value="" id=""> <label for="">하천</label>
							<input type="checkbox" name="" value="" id=""> <label for="">수도용지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">종교용지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">창고</label>
						</td>
					</tr>
					<tr class="tr4">
						<th><img src="{{path}}/jibunyeobu.png" alt="지분여부"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">지분물건 제외</label>
						</td>
					</tr>
					<tr class="tr5">
						<th><img src="{{path}}/gamjeongga.png" alt="감정가"></th>
						<td>
							<input type="text" name="" value="" id="" style="width:80px;"> 원 ~ <input type="text" name="" value="" id="" style="width:80px;"> 원
						</td>
					</tr>
					<tr class="tr6">
						<th><img src="{{path}}/minibchalga.png" alt="최소입찰가"></th>
						<td>
							<input type="text" name="" value="" id="" style="width:80px;"> 원 ~ <input type="text" name="" value="" id="" style="width:80px;"> 원
						</td>
					</tr>
					<tr class="tr7">
						<th><img src="{{path}}/minibchalgaR.png" alt="최소입찰가율"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">100% 이상</label>
							<input type="checkbox" name="" value="" id=""> <label for="">100~75%</label>
							<input type="checkbox" name="" value="" id=""> <label for="">75~50%</label>
							<input type="checkbox" name="" value="" id=""> <label for="">50~25%</label>
							<input type="checkbox" name="" value="" id=""> <label for="">25% 미만</label>
						</td>
					</tr>
				</table>
			</li>	
			<li>
				<p id="g2sPLandUseLimit" data-switch="off"><img id="g2sImgLandUseLimit1" src="{{path}}/landuselimit.png" alt="토지이용규제조건"/></p>
				<table id="g2sTbLandUseLimit">
					<tr>
						<th><img src="img/02_01.png" alt="용도지역"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">주거지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">상업지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공업지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">녹지지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">관리지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">농림지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">자연환경보전지역</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_02.png" alt="용도지구"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">경관지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">미관지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">고도지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">방화지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">방재지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">보존지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">시설보호지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">취락지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">개발진흥지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">특정용도제한지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">위락지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">리모델링지구</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_03.png" alt="용도구역"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">시가화조정구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">개발제한구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">도시자연공원구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">수산자원보호구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">입지규제최소구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">지구단위계획구역</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_04.png" alt="기타법률상규제"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">보전산지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">준보전산지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공익용산지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">임업용산지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">농업보호지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">농업진흥구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">상수원보호구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">접도구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">수질보전대책지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">배출시설설치제한지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공장설립제한지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">비오톱</label>
							<input type="checkbox" name="" value="" id=""> <label for="">재개발구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">정비구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">개발행위허가제한지역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">뉴타운지구</label>
							<input type="checkbox" name="" value="" id=""> <label for="">제한보호구역</label>
							<input type="checkbox" name="" value="" id=""> <label for="">문화재보존영향검토대상구역</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_05.png" alt="기타참고사항"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">영농여건불리농지</label>
							<input type="checkbox" name="" value="" id=""> <label for="">토지거래허가구역</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_06.png" alt="도시계획시설"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">도로</label>
							<input type="checkbox" name="" value="" id=""> <label for="">철도</label>
							<input type="checkbox" name="" value="" id=""> <label for="">기타교통</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공원</label>
							<input type="checkbox" name="" value="" id=""> <label for="">기타공간시설</label>
							<input type="checkbox" name="" value="" id=""> <label for="">공공문화체육시설</label>
							<input type="checkbox" name="" value="" id=""> <label for="">방재시설</label>
							<input type="checkbox" name="" value="" id=""> <label for="">보건위생시설</label>
							<input type="checkbox" name="" value="" id=""> <label for="">유통공급시설</label>
							<input type="checkbox" name="" value="" id=""> <label for="">환경기초시설</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_07.png" alt="도시계획시설저촉상태"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">전필</label>
							<input type="checkbox" name="" value="" id=""> <label for="">저촉</label>
							<input type="checkbox" name="" value="" id=""> <label for="">접함</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/02_08.png" alt="보상편입여부"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">보상</label>
							<input type="checkbox" name="" value="" id=""> <label for="">편입</label>
						</td>
					</tr>
				</table>
			</li>	
			<li>
				<p><img src="img/03.png" alt="투자유망물건조건"/></p>
				<table id="tbHopefulTooja">
					<tr>
						<th><img src="img/03_01.png" alt="hp등급"></th>
						<td>
						</td>
					</tr>
					<tr>
						<th><img src="img/03_02.png" alt="경사도"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">25도 미만</label>
							<input type="checkbox" name="" value="" id=""> <label for="">25도 이상</label>
						</td>
					</tr>
					<tr>
						<th><img src="img/03_03.png" alt="환경평가등급"></th>
						<td>
						</td>
					</tr>
					<tr>
						<th><img src="img/03_04.png" alt="토지이용규제해소물건"></th>
						<td>
							<input type="checkbox" name="" value="" id=""> <label for="">토지이용규제 해소 필지</label>
						</td>
					</tr>
				</table>
			</li>		
		</ul>
		
	</div>